
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*font-family: 'Ubuntu', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');
/*font-family: 'Gentium Basic', serif;*/
@import url('https://fonts.googleapis.com/css?family=Libre+Frankli');
/*font-family: 'Libre Franklin', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
/*font-family: 'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
/*font-family: 'IBM Plex Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
/*font-family: 'Didact Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Sail');
/*font-family: 'Sail', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/*font-family: 'Open Sans Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Cookie');
/*font-family: 'Cookie', cursive;*/
@font-face {
    font-family: myFirstFont;
    src: url(fonts/majalla.ttf);
}
@font-face {
    font-family: mySecondFont;
    src: url(fonts/Euphemia UCAS Regular.ttf);
}




.social
{
	background:#0099cc;
}
.social i
{
	color:white;
	padding:10px;
}
.navbar-nav li
{
	padding-left:20px;
}

.navbar-nav li a
{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
	color:grey;
}
.navbar-brand
{
	font-family: 'Cookie', cursive;
	font-size:36px;
	letter-spacing:2px;
	color:black;
}

.lh
{
	font-size:40px;
	color:#0099cc;
}

.banner
{
	background: url(../images/MAINBG1.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	height: 660px;
	background-attachment:fixed;
}
.bannercontent
{
	color:white;
	font-weight:bold;
	margin-top:160px;
}
.bannercontent h1
{
font-family: 'Ubuntu', sans-serif;	
font-size:50px;
}
.bannercontent h4
{
font-family: 'Work Sans', sans-serif;
}
.bannercontent .btn
{
	background-color:#0099CC;
	border:none;
	border-radius:20px;
	margin-left:120px;
	margin-top:20px;
	font-weight:bold;
	font-family: 'Libre Franklin', sans-serif;
	letter-spacing:1px;
}
.resources
{
	width:90%;
}
.resource
{margin:auto;
	margin-top:263px;
	box-shadow:0px 0px 25px black;
	padding:10px;
	width:80%;
	
}
.resource h4
{
	color:white;
	text-align:center;
}
.resource p
{
	color:black;
	padding-top:8px;
	font-weight:bold;
	color:grey;
	font-size:18px;
font-family: 'Didact Gothic', sans-serif;
}
.about
{    width:80%;
	margin-top:200px;
	
	font-size:20px;
}
.aboutrow
{
	margin-top:70px;
}
.about p
{
	font-family: 'Gentium Basic', serif;
	line-height:36px;
}
.about h1
{
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bolder;
	padding-bottom:10px;
}
.wnote1
{
 font-family: 'Ubuntu', sans-serif;	
 font-weight:bolder;
 font-size:50px;
 color:grey;
}
.wnote2
{
	font-family: 'Open Sans', sans-serif;
}
.aboutimg img
{
	height:400px;
}
.intro
{
	background:#dee0e0;
}
.introcontent
{
	width:60%;
	margin:auto;
	margin-top:30px;
}
.introcontent h1
{
	font-size:44px;
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bolder;
}
.introcontent
{
	line-height:30px;
	font-size:18px;
}
.introcontent p
{
	padding-top:17px;
}
.introbtn
{
	font-weight:bold;
	background-color:#0099CC;
	color:white;
	border-radius:33px;
	margin-bottom:10px;
	border:none;
}
.subjects
{
	width:90%;
}
.subject
{
	box-shadow:0px 0px 25px #d3d3d3;
	width:80%;
	margin:auto;
	padding:16px;
}
.firstsubject,.firstsubject2,.firstsubject3
{
	margin-top:30px;
}
.subject img
{
	width:60px;
	height:60px;
}
.subject p
{
	font-weight:bold;
	font-size:22px;
	color:#287272;
	font-family: 'Libre Franklin', sans-serif;
}
.subjecsttitle
{
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bolder;
}
.tools
{
	margin-top:80px;
	width:80%;
}
.tools h1
{
font-family: 'Didact Gothic', sans-serif;
font-weight:bolder;	
}
.tools p
{
	font-size:18px;
	line-height:30px;
	padding-top:10px;
}
.companies
{
	width:80%;
}
.aboutcompanies
{
	margin-top:80px;
}
.aboutcompanies h1
{
font-family: 'Didact Gothic', sans-serif;
font-weight:bolder;		
}
.aboutcompanies p
{
font-size:18px;
	line-height:30px;
	padding-top:10px;	
}
.blackhacker
{
	background:url(../images/blackhacker2.jpg);
	height:500px;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.blackhackercontent
{
	color:white;
	margin-top:100px;
}
.blackhackercontent h1
{
	font-family: 'Ubuntu', sans-serif;
}
.blackhackercontent h4
{
	font-family: 'Libre Franklin', sans-serif;
}
.blackhackercontent .btn
{
	font-weight:bold;
	background-color:#0099CC;
	color:white;
	border-radius:33px;
	border:none;
	margin-left:100px;
	margin-top:24px;
}
.courses
{
	
	width:90%;
	margin:auto;
}
.firstcourse
{
	margin-top:50px;
}
.coursecontent
{
	box-shadow:0px 0px 20px #c1b8b8; 
	box-shadow:;  
	border-bottom:3px solid #0099CC;
	border-radius:6px;
	width:80%;
	margin:auto;
	padding:20px;
}
.coursecontent4,.coursecontent1,.coursecontent2,.coursecontent3
{
	padding:26px;
}
.coursecontent h4
{
	text-align:center;
	font-weight:bolder;
	font-family: 'Ubuntu', sans-serif;
}
.coursecontent p
{
	font-family: 'IBM Plex Sans', sans-serif;
}
.coursetitle
{
	font-family: 'Didact Gothic', sans-serif;
	font-weight:bolder;
}
.testimonials
{
	margin-top:80px;
	background:#effaff;
	padding:20px;
}
.testimonials .quotes img
{
	width:80px;
	height:80px;
}
.testimonials h1
{
font-family: 'Sail', cursive;
letter-spacing:1px;
color:grey;
padding-top:30px;
}
.testimonials i
{
	font-size:36px;
	font-weight:bolder;
	color:#0099CC;
}
.testimonials .combrand img
{
	width:150px;
	height:85px;
	margin-top:32px;
}
.numbers
{
	background:url(../images/numbersbg.jpg);
	height:350px;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.media
{
	width:40%;
	margin:auto;
	margin-top:100px;
}
.media img
{
	width:100px;
	height:100px;
}
.media-body h2:nth-child(1)
{
	color:#9ed4ed;
}
.media-body h2:nth-child(2)
{
	color:#a5ffc0;
}
.community
{   width:75%;
	margin-top:100px;
}
.community h1:nth-child(1)
{
	font-weight:bolder;
	font-family: 'Didact Gothic', sans-serif;
}
.community h4
{
	font-family: 'Ubuntu', sans-serif;
}
.professor1
{
	height:320px;
}
.professor2
{
	height:320px;
}
.professor3
{
	height:320px;
}
.community .card-title
{
	color:#2c5170;
	font-weight:bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
.community .card-text
{
	font-weight:bolder;
	color:#0e263a;
	font-size:24px;
	font-family: 'Ubuntu', sans-serif;
}
.ctct
{
	margin-top:80px;
}
.contact
{
	background:url(../images/contactbg.jpg);
	height:480px;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.contactcontent
{
	width:40%;
	margin:auto;
	padding:10px;
}
.contactcontent
{
	font-size:40px;
}
.contactcontent form input
{
	width:100%;
	border-radius:10px;
	height:50px;
	padding-left:8px;
	font-size:19px;
	outline:none;
	border:none;
}
.contactcontent form input:nth-child(2)
{
	margin-top:30px;
}
.contactcontent form textarea
{
	width:100%;
	border-radius:10px;
	margin-top:30px;
	height:150px;
	padding-left:8px;
	font-size:19px;
	resize:none;
	outline:none;
	border:none;
}
.contactcontent .btn-success
{
padding:6px 12px;
font-family: 'Gentium Basic', serif;
}
.footer1
{
	background:#032235;
	color:white;
	padding:20px;
}

.appstore img
{
	width:140px;
	height:40px;
	margin:10px;
	
}
.footerhr .copy
{
margin-left:50px;
}
.footerhr .payment
{
	margin-right:50px;
}
.payment
{
	float:right;
}
.footerhr img
{
width:50px;
height:50px;
}

.footer
{
	background:#ecfafd;
	padding:24px;
}
.footer ul li
{
	padding:10px;
	list-style:none;
}
.footer ul li:nth-child(1)
{
	font-weight:bold;
	font-size:22px;
	font-family: 'Ubuntu', sans-serif;
	
}
.footer hr

{
	border:1px solid black;
	width:90%;
}


/*media queries*/
@media only screen and (min-width:320px) and (max-width:1200px)
{
.resources
{
	
	display:none;
	width:0;
}	
.resource
{
	width:0%;
	
}
.aboutimg img
{
	height:auto;
}

}

@media only screen and (min-width:768px) and (max-width:900px)
{
.about
{    width:100%;
	margin-top:50px;
	font-size:19px;
}	
.aboutrow
{
	margin-top:70px;
}
.about p
{
	line-height:28px;
}
.about h1
{
	
	padding-bottom:10px;
}
.numbers
{
	height:auto
}

.media
{
	width:100%;
	margin:0;
}
	
}

@media only screen and (min-width:768px) and (max-width:900px)
{
.numbers
{
	height:auto
}

.media
{
	width:100%;
	margin:0;
}
.media-body h2:nth-child(1)
{
	color:#9ed4ed;
	font-size:24px;
}
.media-body h2:nth-child(2)
{
	color:#a5ffc0;
	font-size:22px;
}	


}
@media only screen and (min-width:320px) and (max-width:767px)
{
	.about
{    width:100%;
	margin-top:100px;
	font-size:19px;
}	
	.introcontent
{
	width:100%;
	margin:auto;
	margin-top:30px;
}
.3rdsubject
{
	margin-top:20px;
}
.subjects
{
	width:100%;
}
.aboutcompanies
{
	margin-top:0px;
}
.tools
{
	margin-top:80px;
	width:100%;
}
.aboutcompanies
{
	margin-top:20px;
	
}
.companies
{
	width:100%;
}
.coursecontent
{

	width:100%;
}
.numbers
{
	height:auto;
}

.media
{
	width:100%;
	margin:0;
}
.media-body h2:nth-child(1)
{
	color:#9ed4ed;
	font-size:24px;
}
.media-body h2:nth-child(2)
{
	color:#a5ffc0;
	font-size:22px;
}
	.contactcontent
{
	width:100%;

}

	.wow {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	
}
}



@media only screen and (min-width:320px) and (max-width:576px)
{
	.numbers
{
	height:350px;

}
.media
{
	width:100%;
	margin-top:30px;
}
.media img
{
	width:70px;
	height:70px;
}
.media-body h2:nth-child(1)
{
	color:#9ed4ed;
	font-size:24px;
}
.media-body h2:nth-child(2)
{
	color:#a5ffc0;
	font-size:22px;
}
.contactcontent
{
	width:100%;

}
.community
{   width:100%;
	margin-top:100px;
}
.community .card
{
	width:100%;
}
.bannercontent h1
{
font-size:40px;
}
.bannercontent h4
{
font-size:20px;
}
.about
{    width:100%;
	margin-top:20px;
	font-size:20px;
}
.aboutrow
{
	margin-top:30px;
}

.about p
{
	line-height:30px;
	font-size:18px;
}
.about h1
{
	font-size:34px;
}
.wnote1
{
 font-size:40px;
 color:grey;
}
.wnote2
{
	font-size:22px;
}
.introcontent h1
{
	font-size:36px;
}
.introcontent h2
{
	font-size:24px;
}
.introcontent
{
	font-size:18px;
}
.blackhackercontent h1
{
	font-size:36px;
}
.blackhackercontent h4
{
	font-size:20px;
}
.blackhackercontent .btn
{
	margin-left:50px;
}
.community h1:nth-child(1)
{
	font-size:34px;
}
.community h4
{
	font-size:22px;
}
.tools
{
	margin-top:40px;
	width:100%;
}
.tools h1
{
font-size:32px;
}
.tools p
{
	font-size:16px;
}
.companies
{
	width:100%;
}
.aboutcompanies
{
	margin-top:30px;
}
.aboutcompanies h1
{
font-size:32px;		
}
.aboutcompanies p
{
font-size:16px;
}
.subjecsttitle
{
font-size:36px;
}
.firstsubject
{
	margin-top:0px;
}
.coursetitle
{
	font-size:36px;
}
.firstcourse
{
	margin-top:0px;
}

}